# Python makes a bunch of JIT-compiled binaries for all the files it executes.
# Don't put them in git.
*.pyc
*.swp

# This is the location where news articles get cached; it gets updated by cron
# jobs.
cron_jobs/news_articles/cron_log
cron_jobs/news_articles/*.txt
cron_jobs/news_articles/*.wav

private/*

# Don't mention configuration.py files here; they _should_ go in the repository.
# However, changes to them shouldn't usually be tracked, so instead you should
#   git update-index --assume-unchanged */configuration.py
# and if necessary when making changes to those files,
#   git update-index --no-assume-unchanged configuration.py
# to track the changes again.
